{% extends "::base.html.twig" %}
{% block body %}  
<table class="table table-hover">
    <thead>
        <tr>
            <th>Seleccionar</th>
            <th>Tipo de usuario</th>
            <th>Documento de identidad</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo electrónico</th>    
        </tr>
    </thead>
    <tbody>
        {%for usuario in usuarios %}
        <tr>
            <td>
                <input type="radio" name="busquedaUsuario" value="{{ usuario.numerodocumentoidentidad }}" required="true">
            </td>
            <td>
                {{ usuario.tipousuario.nombre }} 
            </td>
            <td>
                {{ usuario.numerodocumentoidentidad }} 
            </td>
            <td>
                {{ usuario.primernombre }} {{ usuario.segundonombre }} 
            </td>
            <td>
                {{ usuario.primerapellido }} {{ usuario.segundoapellido }} 
            </td>
            <td>
                {{ usuario.user.email }} 
            </td>   
            <td>
                {% spaceless %}
                <a href="{{
                   path(
                      'gs_consultas_usuario_vermas',
                     { 'numerodocumentoidentidad': usuario.numerodocumentoidentidad,
                       'primernombre': usuario.primernombre,
                       'segundonombre': usuario.segundonombre,
                       'primerapellido': usuario.primerapellido,
                       'segundoapellido': usuario.segundoapellido,
                       'email': usuario.user.email,
                       }
                   )
                  }}">
                   Ver mas
                </a>
                {% endspaceless %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%} 