{% extends "::usuario.html.twig" %}
{% block title %}Grupo Simon: Usuario{% endblock %}

{% block titulo %}  
<h1>Mensajería</h1>
{% endblock %}
{% block submenuderecho %} 
<a type="submit" class="btn btn-default btn-xs" id="botonComponer" href="{{ path('gs_proyectos_mensajes_enviar') }}">
    <span class="glyphicon glyphicon-pencil"></span> Componer
</a>
<a type="submit" class="btn btn-danger btn-xs" id="botonEliminarMenu">
    <span class="glyphicon glyphicon-trash"></span> Eliminar
</a>

{% endblock %}
{% block submenuizquierdo %} 

{% endblock %}


{% block contenido %}
<ul class="nav nav-tabs">
    <li ><a href="{{ path('gs_proyectos_mensajes_buscar') }}">Mensajes Recibidos</a></li>
    <li class="active"><a href="{{ path('gs_proyectos_mensajes_buscarenviado')}}">Mensajes Enviados</a></li>
    <li><a href="{{ path('gs_proyectos_mensajes_buscareliminado')}}">Mensajes Borrados</a></li>
</ul>
<form id="formulario"  action="{{ path('gs_proyectos_mensajes_eliminarenviado') }}" enctype="multipart/form-data" method="post" >
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Asunto
                </th>
                <th>
                    Para
                </th>
                <th>
                    Fecha
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
        {%for enviado in enviados%}

            <tr>
                <td>
                    <input type="checkbox" id="radioMensaje" name="radioMensaje[]" value="{{enviado.idmensajeenviado}}">
                </td>
                <td>
                {{ enviado.asunto }}
                </td>
                <td>
                {{ enviado.para}}
                </td>
                <td>
                {{ enviado.fecha | date }}
                </td>
                <td>
                    <a href="{{ path('gs_proyectos_mensajes_leerenviado',{'id': enviado.idmensajeenviado})}}">
                        <span class="glyphicon glyphicon-eye-open"></span> Abrir
                    </a>             
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
<select class="center-block" id="listaTamano" name="listaTamano">
    <option>
        {{limite}}
    </option>    
    {% for i in range(low=0, high=100, step=10) %}
    <option>
        {{i}}
    </option>

{% endfor %}
    <option value="1000000">Todos</option>
</select>

{% endblock %}
{% block javascripts %}
{{ parent()}}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Realmente desea eliminar este contenido. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-danger" id="botonEliminar" name="botonEliminar"  href="#">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade " id="radioVacio" tabindex="-1" role="dialog" aria-labelledby="radioVacioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Usted no ha seleccionado ningun elemento. Intentelo de nuevo. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    function inicializarEventos() {

        var btnEliminar;
        btnEliminar = $('#botonEliminar');
        btnEliminar.click(eliminarElemento);

        var btnEliminarMenu;
        btnEliminarMenu = $('#botonEliminarMenu');
        btnEliminarMenu.click(eliminarElementoMenu);

        var sltTamano;
        sltTamano = $('#listaTamano');
        sltTamano.change(buscarTamano);
    }

    function eliminarElementoMenu() {

        var rdMensaje;
        rdMensaje = $('#radioMensaje:checked').val()
        if (rdMensaje == "" || rdMensaje == null) {
            $('#radioVacio').modal('show');
        } else {
            $('#myModal').modal('show');
        }

    }
    function eliminarElemento() {
        /* var rdMensaje;
         var myArray = new Array();
         rdMensaje = $('input:checkbox:checked').each(function() {
         myArray.push($(this).val());
         });
         alert(myArray);
         var url;
         url = "";
         url = url.replace("text", myArray);
         window.open(url, '_self');
         */
       
        var frm;
        frm = $('#formulario');
        frm.submit();
    }

    function buscarTamano() {

        var tamano;
        tamano = $('#listaTamano').val()
        var url;
        url = "{{ path('gs_proyectos_mensajes_buscarenviado', {'limite': 'text'}) }}";
        url = url.replace("text", tamano);
        window.open(url, '_self');
        inicializarEventos();
    }

</script>
{% endblock %}