<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.ico') }}" />       
        <link href="{{ asset('kendo/styles/kendo.common.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('kendo/styles/kendo.bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <script src="{{ asset('kendo/js/jquery.min.js') }}" ></script>
        <script src="{{ asset('kendo/js/kendo.web.min.js') }}" ></script>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />      
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" ></script>

    </head>
    <body>        
        {% block menu %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
