{% extends "::base.html.twig" %}
{% block menu %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Grupo Simon</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_buscar') }}">Mi Producción</a></li>
                <li><a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_catalogobibliografico')}}">Catalogo Bibliográfico</a></li>                
                <li><a href="{{ path('gs_proyectos_mensajes_buscar')}}">Mensajes <span class="badge alert-danger">{{ render(controller('GSProyectosBundle:Mensajes:Numeromensajes'))}} </span></a></li> 
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Producción en Desarrollo</a></li> 
                        <li><a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_perfil') }}">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Ayuda</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Salir</a></li>                       

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block body %}
<br><br>

<div class="container">

    <div class="page-header">
{% block titulo %}
{% endblock %}
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4" style="border-color: #000;">
            {% block submenuizquierdo %}
            {% endblock %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="text-align: right;">
             {% block submenuderecho %}
            {% endblock %}
        </div>
    </div>

{% block contenido %}
{% endblock %}
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}
