{% extends "::administrar.html.twig" %}

{% block title %}Grupo Simon: Administrar Usuarios{% endblock %}

{% block titulo %}  
<h1>Administrar Usuarios</h1>
{% endblock %}
{% block submenuderecho %}    
<a type="submit" class="btn btn-success btn-xs" id="botonNuevoUsuario" href="{{ path('gs_usuario_crear') }}">
    <span class="glyphicon glyphicon-plus"></span> Nuevo
</a>
<a type="submit" class="btn btn-default btn-xs" id="botonModificarUsuario" href="#">
    <span class="glyphicon glyphicon-refresh"></span> Modificar
</a>
<button type="submit" class="btn btn-danger btn-xs" id="botonEliminarUsuario" >
    <span class="glyphicon glyphicon-trash"></span> Eliminar
</button>
<a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_proyectos_vistaherramientas') }}">
    <span class="glyphicon glyphicon-log-out"></span> Salir
</a>
{% endblock %}

{% block submenuizquierdo %}  
<div class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control" id="campoBuscar" name="campoBuscar" placeholder="Primer nombre, apellido o documento de identidad">

    </div>
    <div class="form-group">
        <button type="button" id="botonBuscar" name="botonBuscar" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search"> Buscar</span> 
        </button>
    </div>    
</div>
{% endblock %}
{% block contenido %}
<br>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                    Filtros
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

                <form class="form-inline" id="formularioBuscarUsuario" name="formularioBuscarUsuario" rol="form" action="#" enctype="multipart/form-data" method="post">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campoNumeroDocumentoIdentidad">Número de documento de identidad: </label>
                                <input class="form-control" name="campoNumeroDocumentoIdentidad" id="campoNumeroDocumentoIdentidad">                                                
                            </div>
                        </div>
                    </div>                  

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campoPrimerNombre">Primer Nombre: </label>
                                <input class="form-control" name="campoPrimerNombre" id="campoPrimerNombre">                            

                            </div>
                            <div class="form-group">
                                <label for="campoSegundoNombre"> Segundo Nombre: </label>
                                <input class="form-control" name="campoSegundoNombre" id="campoSegundoNombre" >
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campoSegundoApellido">Primer Apellido: </label>
                                <input class="form-control" name="campoPrimerApellido" id="campoPrimerApellido">                             
                            </div>
                            <div class="form-group">
                                <label for="campoSegundoApellido"> Segundo Apellido: </label>
                                <input class="form-control" name="campoSegundoApellido" id="campoSegundoApellido" >                             

                            </div>
                        </div>
                    </div>                    
                    <br>
                    <div style="text-align: right">
                        <button type="submit" id="botonBuscarFiltro" name="botonBuscarFiltro" class="btn btn-primary" >
                            <span class="glyphicon glyphicon-search"> Buscar</span> 
                        </button>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>
<div id="usuarios">


    <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Identificación
                </th>
                <th>
                    Nombre
                </th>    
                <th>
                    Correo Electrónico
                </th>
                <th>
                    Fecha de Registro
                </th>  
                <th>
                    Estado
                </th>   
            </tr>

        </thead>

        <tbody>
        {%for usuario in usuarios %}
            <tr>
                <td>
                    <input type="radio" id="radioUsuario" name="radioUsuario" value="{{usuario.numerodocumentoidentidad}}">
                </td>
                <td>
             {{usuario.numerodocumentoidentidad}}
                </td>
                <td>
                   {{ usuario.primernombre }} {{ usuario.segundonombre }} {{ usuario.primerapellido }} {{ usuario.segundoapellido }}

                </td>
                <td>
                {{ usuario.user.email }}        
                </td>
                <td>
                {{ usuario.fecharegistro | date ('d-m-Y') }}
                </td>
                <td>
                {% if usuario.user.enabled %}
                    Activo
                   {% else %}       
                    Inactivo
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<select class="center-block" id="listaTamano" name="listaTamano">  
    <option value="{{limite}}">{{limite}}</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="90">90</option>
    <option value="120">120</option>
    <option value="100000">Todos</option>                        
</select>
<br>
{% endblock %}

{% block javascripts %}

<!-- Modal Eliminar Recurso -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEliminarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Realmente desea ejecutar esta acción.  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-danger" id="botonModalEliminarUsuario"  href="#">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="radioVacio" tabindex="-1" role="dialog" aria-labelledby="radioVacioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Usted no ha seleccionado ningun elemento. Intentelo de nuevo. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    function inicializarEventos() {
        /*
         * ***************
         * Modificar Usuario*
         * ***************
         */
        var btnModificarUsuario;
        btnModificarUsuario = $('#botonModificarUsuario');
        btnModificarUsuario.click(modificarUsuario);
        /*
         * *****************
         * Eliminar Recurso*
         * *****************
         */

        var btnEliminarUsuario;
        btnEliminarUsuario = $('#botonEliminarUsuario');
        btnEliminarUsuario.click(eliminarUsuario);
        var btnModalEliminarUsuario;
        btnModalEliminarUsuario = $('#botonModalEliminarUsuario');
        btnModalEliminarUsuario.click(modalEliminarUsuario);
        /*
         * Buscar
         */

        var btn;
        btn = $('#botonBuscar');
        btn.click(buscar);

        var btnFiltro;
        btnFiltro = $('#botonBuscarFiltro');
        btnFiltro.click(buscarFiltro);

        var sltTamano;
        sltTamano = $('#listaTamano');
        sltTamano.change(buscarFiltroTamano);
    }

    function  modalEliminarUsuario() {

        var rtUsuario;
        rtUsuario = $('#radioRecurso:checked').val();
        var url;
        url = "{{ path('gs_usuario_eliminar', {'id': 'text'}) }}";
        url = url.replace("text", rtUsuario);
        window.open(url, '_self');
    }

    function eliminarUsuario() {
        var rtUsuario;
        rtUsuario = $('#radioUsuario:checked').val();
        if (rtUsuario == "" || rtUsuario == null) {
            $('#radioVacio').modal('show');
        } else {
            $('#modalEliminarUsuario').modal('show');
        }
    }

    function modificarUsuario() {
        var rtUsuario;
        rtUsuario = $('#radioUsuario:checked').val();
        if (rtUsuario == "" || rtUsuario == null) {
            $('#radioVacio').modal('show');
        } else {
            var url;
            url = "{{ path('gs_usuario_modificar', {'id': 'text'}) }}";
            url = url.replace("text", rtUsuario);
            window.open(url, '_self');
        }
    }
    function buscar() {
        var campoBuscar;
        var tamano;
        campoBuscar = $('#campoBuscar').val();
        tamano = $('#listaTamano').val();
        if (campoBuscar == "" || campoBuscar == null) {
            campoBuscar = 'XXX';
        }

        var url;
        url = "{{ path('gs_usuario_buscar', {'limite': 'text','parametro':'text1'}) }}";
        url = url.replace("text", tamano);
        url = url.replace("text1", campoBuscar);
        window.open(url, '_self');
    }
    function buscarFiltro() {
        var formulario;
        formulario = $('#formularioBuscarUsuario');
        var url;
        url = "{{ path('gs_consultas_usuario_busquedaavanzada')}}";
        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/x-www-form-urlencoded",
            data: formulario.serialize(),
            beforeSend: inicioEnvio,
            success: function(data)
            {
                $('#usuarios').html(data);
            },
            timeout: 4000,
            error: problemas
        });
        return false;
    }
    function inicioEnvio()
    {
        var x = $("#catalogoBibliografico");
        x.html('Cargando ...');
    }
    function problemas()
    {
        $("#catalogoBibliografico").text('Problemas en el servidor. Intentelo de nuevo.');
    }
    function buscarFiltroTamano() {
        var primerNombre;
        var segundoNombre;
        var primerApellido;
        var segundoApellido;
        var numeroDocumentoIdentidad;
        var campoBuscar;
        var tamano;
        campoBuscar = $('#campoBuscar').val();
        primerNombre = $('#campoPrimerNombre').val();
        segundoNombre = $('#campoSegundoNombre').val();
        primerApellido = $('#campoPrimerApellido').val();
        segundoApellido = $('#campoSegundoApellido').val();
        numeroDocumentoIdentidad = $('#campoNumeroDocumentoIdentidad').val();
        tamano = $('#listaTamano').val();
        if ((campoBuscar == "" || campoBuscar == null) && (primerApellido == "" || primerApellido == null) && (primerNombre == "" || primerNombre == null) && (segundoApellido == "" || segundoApellido == null)
                && (segundoNombre == "" || segundoNombre == null) && (numeroDocumentoIdentidad == "" || numeroDocumentoIdentidad == null)) {
            var url;
            url = "{{ path('gs_usuario_buscar', {'limite': 'text'}) }}";
            url = url.replace("text", tamano);
            window.open(url, '_self');
        } else {
            if (campoBuscar == "" || campoBuscar == null) {
                var formulario;
                formulario = $('#formularioBuscarUsuario');
                var url;
                url = "{{ path('gs_consultas_usuario_busquedaavanzada',{'numeroresultados':'text4'})}}";
                url = url.replace("text4", tamano);
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/x-www-form-urlencoded",
                    data: formulario.serialize(),
                    beforeSend: inicioEnvio,
                    success: function(data)
                    {
                        $('#usuarios').html(data);
                    },
                    timeout: 4000,
                    error: problemas
                });
                return false;
            } else {
                var url;
                url = "{{ path('gs_usuario_buscar', {'limite': 'text','parametro':'text1'}) }}";
                url = url.replace("text", tamano);
                url = url.replace("text1", campoBuscar);
                window.open(url, '_self');
            }
        }
    }



</script>
{% endblock %}

