{% extends "::administrar.html.twig" %}
{% block title %}GSUsuarioBundle:Administrar:Modificar{% endblock %}
 {% block titulo %}

<h1>Welcome to the Administrar:Modificar page {{ email }}</h1>
{% endblock %}

{% block submenuderecho %}    
<button type="submit" class="btn btn-success btn-xs" id="botonGuardar">
    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
</button>
<button type="submit" class="btn btn-danger btn-xs" id="botonEliminar">
    <span class="glyphicon glyphicon-trash"></span> Eliminar
</button>
<a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_usuario_buscar') }}">
    <span class="glyphicon glyphicon-log-out"></span> Salir
</a>
{% endblock %}


{% block contenido %}
<form id="formulario" action="{{ path('gs_usuario_modificar',{'id':id, 'mensaje':'0'}) }}" method="post" {{ form_enctype(formUsuario) }}>

{% if mensaje == '1'%}
    <br>
    <div class="alert alert-info">
        <p><b>Felicidades.</b> Usuario guardado exitosamente</p>
    </div>

{% endif %}


  {{ form_errors(formUsuario) }}     
       {{ form_label(formUsuario.numerodocumentoidentidad.first) }}
        {{ form_errors(formUsuario.numerodocumentoidentidad.first) }}      
        {{ form_widget(formUsuario.numerodocumentoidentidad.first) }}

    <br>
        {{ form_label(formUsuario.numerodocumentoidentidad.second) }}
        {{ form_errors(formUsuario.numerodocumentoidentidad.second) }}
        {{ form_widget(formUsuario.numerodocumentoidentidad.second) }}
    <br>
            {{ form_label(formUsuario.primernombre) }}
        {{ form_errors(formUsuario.primernombre) }}
        {{ form_widget(formUsuario.primernombre) }}
    <br>
        {{ form_label(formUsuario.segundonombre) }}
        {{ form_errors(formUsuario.segundonombre) }}
        {{ form_widget(formUsuario.segundonombre) }}
    <br>
        {{ form_label(formUsuario.primerapellido) }}
        {{ form_errors(formUsuario.primerapellido) }}
        {{ form_widget(formUsuario.primerapellido) }}
    <br>
         {{ form_label(formUsuario.segundoapellido) }}
        {{ form_errors(formUsuario.segundoapellido) }}
        {{ form_widget(formUsuario.segundoapellido) }}
    <br>
        {{ form_label(formUsuario.email.first) }}
        {{ form_errors(formUsuario.email.first) }}
        {{ form_widget(formUsuario.email.first,{'attr':{'value': email}}) }}        
    <br>
        {{ form_label(formUsuario.email.second) }}
        {{ form_errors(formUsuario.email.second) }}
        {{ form_widget(formUsuario.email.second,{'attr':{'value': email}}) }}
    <br>
        {{ form_label(formUsuario.telefonofijo) }}
        {{ form_errors(formUsuario.telefonofijo) }}
        {{ form_widget(formUsuario.telefonofijo) }}
    <br>
         {{ form_label(formUsuario.telefonocelular) }}
        {{ form_errors(formUsuario.telefonocelular) }}
        {{ form_widget(formUsuario.telefonocelular) }}
    <br>
        {{ form_label(formUsuario.tipodocumentoidentidad) }}
        {{ form_errors(formUsuario.tipodocumentoidentidad) }}
        {{ form_widget(formUsuario.tipodocumentoidentidad) }}
    <br>
         {{ form_label(formUsuario.tipousuario) }}
        {{ form_errors(formUsuario.tipousuario) }}
        {{ form_widget(formUsuario.tipousuario) }}
    <br>
        {{ form_label(formUsuario.enable) }}
        {{ form_errors(formUsuario.enable) }}
        {{ form_widget(formUsuario.enable) }}
    <br>
        {{ form_label(formUser.password.first) }}
        {{ form_errors(formUser.password.first) }}
        {{ form_widget(formUser.password.first) }}
    <br>
        {{ form_label(formUser.password.second) }}
        {{ form_errors(formUser.password.second) }}
        {{ form_widget(formUser.password.second) }}

    <br>

    {{ form_rest(formUsuario) }}
    {{ form_rest(formUser) }}
</form>
{% endblock %}

    {% block javascripts %}
{{parent()}}
<script type="text/javascript">

    var x;
    x = $(document);
    x.ready(inicializarEventos);

    function inicializarEventos() {

        var btn;
        btn = $('#botonGuardar');
        btn.click(enviarFormulario)
    }
    function enviarFormulario() {
        var frm;

        frm = $('#formulario');
        frm.submit();
    }
</script>

{% endblock %}