{% extends "::usuario.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Agregarlecturaconproposito{% endblock %}

{% block titulo %}  
<h1>Lectura con proposito: <small>Crear.</small></h1>
{% endblock %}

{% block submenuderecho %} 
<form  action="{{ path('gs_proyectos_desarrollarproduccionintelectual_agregarbibliografia',{'id': idBibliografia}) }}" method="post" {{ form_enctype(formLecturaConProposito) }}>
    <button type="submit"  class="btn btn-success btn-xs" id="botonGuardar">
        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
    </button>
    <a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_proyectos_desarrollarproduccionintelectual_vista',{'id':idTema})}}">
        <span class="glyphicon glyphicon-log-out"></span> Salir
    </a>
{% endblock %}

{% block contenido %}

{{ form_errors(formLecturaConProposito) }}            


      {{ form_label(formLecturaConProposito.propositogeneral) }}
     {{ form_errors(formLecturaConProposito.propositogeneral) }}
     {{ form_widget(formLecturaConProposito.propositogeneral) }}

    {{ form_rest(formLecturaConProposito) }}
</form> 

{% endblock %}


{% block javascripts %}
{% endblock %}
