{% extends "::base.html.twig" %}
{% block title %}Bibligrafía: Ficha Bibliográfica{% endblock %}
{% block body %}  
<div style="width:700px; height:600px; overflow: scroll;">


    <div class="page-header">
        <h1>Ficha Bibliográfica:</h1>
    </div>
    <pre>
<h5><strong>Tipo elemento bibliográfico:</strong></h5>
    {{ bibliografia.tipoelementobibliografico.nombre  }}    
    </pre>
    <pre>
<h5><strong>Categoría:</strong></h5>
    {{ bibliografia.categoria.nombre  }}
    </pre>
    <pre>
<h5><strong>Nombre:</strong></h5>
    {{ bibliografia.nombre  }}
    </pre>
    <pre>
<h5><strong>Autores:</strong></h5>
    {{ bibliografia.autores  }}
    </pre>
    <pre>
<h5><strong>Traducción</strong></h5>
{%if bibliografia.traduccion %}
    SI
{% else %}
    NO
{% endif %}
    </pre>
    <pre>
    <h5><strong>Fecha de edición:</strong></h5>
    {{ bibliografia.fechaedicion | date('D-M-Y')  }}
    </pre>
    <pre>
    <h5><strong>Editorial:</strong></h5>
    {{ bibliografia.editorial }}
    </pre>
    <pre>
    <h5><strong>Resumen:</strong></h5>
    {{ bibliografia.resumen  }}
    </pre>
    <pre>
    <h5><strong>Recomendaciones de uso:</strong></h5>
    {{ bibliografia.recomendacionesuso  }}
    </pre>
    <pre>
    <h5><strong>Tabla de contenido:</strong></h5>
    {{ bibliografia.tablacontenido  }}
    </pre>
    <pre>
    <h5><strong>Palabras clave:</strong></h5>
    {{ bibliografia.palabrasclave  }}
    </pre>
    <pre>
    <h5><strong>Area de investigación:</strong></h5>
    {{ bibliografia.areainvestigacion.nombre }}
    </pre>
    <pre>
    <h5><strong>Ubicación:</strong></h5>
    {{ bibliografia.ubicacion }}
    </pre>
    {%if bibliografia.archivo %}
    De click en el siguiente enlace para descargar el archivo adjunto.
    <h2><a href="{{ asset(bibliografia.archivo~bibliografia.nombrearchivo~'.zip')  }}">Descargar Archivo Adjunto</a></h2>
    {% endif %}
    <div class="page-header">
        <h1>Ficha Bibliográfica:<small> Lectura con proposito</small></h1>
    </div>
{%for lectura in lecturaConProposito%}
    <pre>
<h5><strong>Poropósito general de la lectura</strong></h5>
    {{ lectura.propositogeneral }}
    </pre>
    <pre>
    <h4><strong>Inspección previa del contenido de la lectura: </strong></h4>
    <h5><strong>1. Ttítulos de los subcapítulos</strong> </h5>
        {{ lectura.titulosubcapitulos }}
    <h5><strong>2. Existe un resumen al principio o al final de los capítulos ?</strong></h5>
{%if lectura.resumen %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>3. Existe preguntas al final de los capítulos ?</strong></h5>
{%if lectura.preguntasfinalcapitulo %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>4. Existe un glosario o una lista de vocabulario al final del texto ?</strong></h5>
{%if lectura.glosario %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>5. Secciones que componen el texto</strong></h5>
        {{ lectura.secciones }}
    <h5><strong>6. Descripción de las ilustraciones, graficas, esquemas, tablas o cuadros del texto</strong></h5>
        {{ lectura.descripcionilustraciones }}
    <h5><strong>7. Resumen de la lectura</strong></h5>
        {{ lectura.resumenlectura }}
    </pre>
    <pre>
<h4><strong>Preguntar y predecir: </strong></h4>
    <h5><strong>Inquietudes, problemas o intereses con relación al proyecto que se podrían satisfacer con el contenido de esta lectura</strong></h5>
        {{ lectura.preguntas }}
    </pre>
    <pre>
<h4><strong>Leer con proposito: </strong></h4>
    <h5><strong>Posibles respuestas a las preguntas que formulo anteriormente</strong> </h5>
        {{ lectura.lecturaproposito }}
    </pre>
    <pre>
<h4><strong>Resumir: </strong></h4>
    <h5><strong>Breve resumen de cada capitulo o parte de acuerdo con los subtítulos y secciones, a su vez una lista de las palabras clave que se descubre en cada una</strong></h5>
        {{ lectura.resumenseccion }}
    </pre>
    <pre>
<h4><strong>Aplicar y transferir:</strong> </h4>
    <h5><strong>Recomendación sobre la posible utilidad de esta lectura para el trabajo de investigación</strong> </h5>
        {{ lectura.recomendaciones }}
    </pre>
{% endfor  %}
</pre>
<br>
<br>
</div>

{% endblock %}  