{% extends "::base.html.twig" %}
{% block title %}Bibligrafía: Ficha Bibliográfica{% endblock %}
{% block body %}  
<div style="width:700px; height:600px; overflow: scroll;">


    <div class="page-header">
        <h1>Ficha Bibliográfica:</h1>
    </div>
    <pre>
<h5><strong>Tipo elemento bibliográfico:</strong></h5>
    {{ bibliografia.tipoelementobibliografico.nombre  }}    
    </pre>
    <pre>
<h5><strong>Categoría:</strong></h5>
    {{ bibliografia.categoria.nombre  }}
    </pre>
    <pre>
<h5><strong>Nombre / Título / Título de la página:</strong></h5>
    {{ bibliografia.nombre  }}
    </pre>
    <pre>
<h5><strong>Autores:</strong></h5>
    {{ bibliografia.autores  }}
    </pre>
    <pre>
<h5><strong>Traducción</strong></h5>
{%if bibliografia.traduccion %}
    SI
{% else %}
    NO
{% endif %}
    </pre>
    <pre>
    <h5><strong>Fecha de edición / Fecha de acceso Sitio WEB:</strong></h5>
    {{ bibliografia.fechaedicion | date('d-m-Y')  }}
    </pre>
    <pre>
    <h5><strong>Editorial / Nombre de la Revista:</strong></h5>
    {{ bibliografia.editorial }}
    </pre>
    <pre>
    <h5><strong>Resumen:</strong></h5>
    {{ bibliografia.resumen  }}
    </pre>
    <pre>
    <h5><strong>Recomendaciones de uso:</strong></h5>
    {{ bibliografia.recomendacionesuso  }}
    </pre>
    <pre>
    <h5><strong>Tabla de contenido:</strong></h5>
    {{ bibliografia.tablacontenido  }}
    </pre>
    <pre>
    <h5><strong>Palabras clave:</strong></h5>
    {{ bibliografia.palabrasclave  }}
    </pre>
    <pre>
    <h5><strong>Area de investigación:</strong></h5>
    {{ bibliografia.areainvestigacion.nombre }}
    </pre>
    <pre>
    <h5><strong>Ubicación / Páginas en las que aparece el artículo / URL:</strong></h5>
    {{ bibliografia.ubicacion }}
    </pre>
    {%if bibliografia.archivo %}
    De click en el siguiente enlace para descargar el archivo adjunto.
    <h2><a href="{{ asset(bibliografia.archivo~bibliografia.nombrearchivo~'.zip')  }}">Descargar Archivo Adjunto</a></h2>
    {% endif %}
 {#Sugerencia -> Libro o Capitulo#}
    {%if bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "1"%}
    <h3>Sugerencia, referencia estilo [APA]</h3>
    <p>{{bibliografia.autores}}. ( {{ bibliografia.fechaedicion | date('Y')  }}).<i> {{bibliografia.nombre}}</i>. {{ bibliografia.ubiicacion }}: {{ bibliografia.editorial }}</p>

    <p>Las referencias bibliográficas deben incluir los siguientes datos, en el orden indicado:</p>
    <ul>
        <li>Apellido del autor, iniciales del autor.</li>
        <li>Año de publicación entre paréntesis.</li>
        <li>Título del libro en cursiva.</li>
        <li>Lugar de publicación (ciudad, estado, provincia, país), seguido de dos puntos.</li>
        <li>Nombre de la casa editorial.</li>
    </ul>
    <p><i><b>Ejemplo:</b></i></p>    
    <p>González, R. (2010). <i>Introducción a la psicología contemporánea</i>. San José, Costa Rica: Editorial ULACIT.</p>
    {% endif %}

    {#Sugerencia -> Tesis#}
      {%if bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "2"%}
    <h3>Sugerencia, referencia estilo [APA]</h3>
    <p>{{bibliografia.autores}}. ( {{ bibliografia.fechaedicion | date('Y')  }}). <i>{{bibliografia.nombre}}</i>. {{ bibliografia.ubicacion }}</p>

    <p>Si la referencia es de una tesis, se incluirán los siguientes datos, en el orden 
        indicado:</p>
    <ul>
        <li>Apellido del autor, inciales del autor.</li>
        <li>Año de publicación entre paréntesis.</li>
        <li>Título de la tesis en letra cursiva</li>
        <li>La leyenda “Tesis de (grado académico) no publicada”</li>
        <li>Nombre de la universidad, ciudad, país. </li>      
    </ul>
    <p><i><b>Ejemplo:</b></i></p>    
    <p>Alfaro, J.M. (2009). <i>Producción de software y capacitación industrial. 
        </i>. Tesis de licenciatura no publicada, ULACIT, San José, Costa Rica.</p>
    {% endif %}

 {#Sugerencia -> Articulo y Revista#}
     {%if bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "7" or bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "3"  %}
    <h3>Sugerencia, referencia estilo [APA]</h3>
    <p>{{bibliografia.autores}}. ( {{ bibliografia.fechaedicion | date('Y')  }}). {{bibliografia.editorial}}. <i>{{bibliografia.nombre}}</i>. {{ bibliografia.ubicacion }}</p>

    <p>Si la referencia es de un artículo publicado en una revista, se incluirán los 
        siguientes datos, en el orden indicado:</p>
    <ul>
        <li>Apellido del autor, inciales del autor.</li>
        <li>Año de publicación entre paréntesis.</li>
        <li>Título del artículo.</li>
        <li>Nombre de la revista, en letra cursiva.</li>
        <li>Número del volumen, en cursiva (se podrá incluir también el número de la 
            revista entre paréntesis).</li>
        <li>Páginas en que aparece el artículo.</li>
    </ul>
    <p><i><b>Ejemplo:</b></i></p>    
    <p>Mora, H., y Domínguez, L.A.(2010). La psicología cognoscitiva y su relación con 
        las ciencias del cerebro. <i>Actualidades en Ciencias Cognoscitivas</i>. 14, 330-
        337..</p>
    {% endif %}
    
     {#Sugerencia -> Informe#}
    {%if bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "10"%}
    <h3>Sugerencia, referencia estilo [APA]</h3>
    <p>{{bibliografia.autores}}. ( {{ bibliografia.fechaedicion | date('Y')  }}).<i> {{bibliografia.nombre}}</i>. {{ bibliografia.editorial }}. {{bibliografia.ubicacion}}</p>

    <p>Las referencias bibliográficas deben incluir los siguientes datos, en el orden indicado:</p>
    <ul>
        <li>Apellido del autor, iniciales del autor.</li>
        <li>Año de publicación entre paréntesis.</li>
        <li>Título del libro en cursiva.</li>
         <li>Nombre de la casa editorial.</li>
        <li>Lugar de publicación (ciudad, estado, provincia, país), seguido de dos puntos.</li>
       
    </ul>
    <p><i><b>Ejemplo:</b></i></p>    
    <p>González, R. (2010). <i>Introducción a la psicología contemporánea</i>.  Editorial ULACIT. San José, Costa Rica.</p>
    {% endif %}

{#Sugerencia -> Sitio Web#}
     {%if bibliografia.tipoelementobibliografico.idtipoelementobibliografico == "11"%}
    <h3>Sugerencia, referencia estilo [APA]</h3>
    <p>{{bibliografia.autores}}. ( {{ bibliografia.fechaedicion | date('d-m-Y')  }}). <i>{{bibliografia.nombre}}</i>. Recuperado de {{ bibliografia.ubicacion }}</p>

    <p>Cuando consulte una página de Internet, haga una ficha en donde registre los 
        siguientes datos:</p>
    <ul>
        <li>Dirección. Por ejemplo, http://www.ulacit.ac.cr/paginas/investigacion.html</li>
        <li>Título de la página. Refiérase al título que aparece al principio de la página, 
            o en el encabezado de su navegador. 
        </li>
        <li>Autor de la página. Intente identificar el o los autores de la página. Si no 
            aparece una persona como autor, el autor es la institución, organización o 
            empresa que publica la página</li>      
        <li>Fecha de acceso.</li>
    </ul>
    <p>Al hacer una cita de una página de Internet en el texto de su trabajo, indique entre 
        paréntesis solamente el autor y el año. <b>No escriba el título de la página ni la 
            dirección completa (http://www...) de la misma. El URL o dirección de la 
            página se incluirá al final del trabajo, en la lista de referencias.</b></p>
    <p><i><b>Ejemplo:</b></i></p>    
    <p> 
Instituto Nacional de Seguros. (2011).  <i>Normas de salud ocupacional para las 
empresas privadas.</i>Recuperado de http://www.ins.go.cr/normas.html 
</p>
    {% endif %}
    <div class="page-header">
        <h1>Ficha Bibliográfica:<small> Lectura con proposito</small></h1>
    </div>
{%for lectura in lecturaConProposito%}
    <pre>
<h5><strong>Poropósito general de la lectura</strong></h5>
    {{ lectura.propositogeneral }}
    </pre>
    <pre>
    <h4><strong>Inspección previa del contenido de la lectura: </strong></h4>
    <h5><strong>1. Ttítulos de los subcapítulos</strong> </h5>
        {{ lectura.titulosubcapitulos }}
    <h5><strong>2. Existe un resumen al principio o al final de los capítulos ?</strong></h5>
{%if lectura.resumen %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>3. Existe preguntas al final de los capítulos ?</strong></h5>
{%if lectura.preguntasfinalcapitulo %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>4. Existe un glosario o una lista de vocabulario al final del texto ?</strong></h5>
{%if lectura.glosario %}
        SI
{% else %}
        NO
{% endif %}
    <h5><strong>5. Secciones que componen el texto</strong></h5>
        {{ lectura.secciones }}
    <h5><strong>6. Descripción de las ilustraciones, graficas, esquemas, tablas o cuadros del texto</strong></h5>
        {{ lectura.descripcionilustraciones }}
    <h5><strong>7. Resumen de la lectura</strong></h5>
        {{ lectura.resumenlectura }}
    </pre>
    <pre>
<h4><strong>Preguntar y predecir: </strong></h4>
    <h5><strong>Inquietudes, problemas o intereses con relación al proyecto que se podrían satisfacer con el contenido de esta lectura</strong></h5>
        {{ lectura.preguntas }}
    </pre>
    <pre>
<h4><strong>Leer con proposito: </strong></h4>
    <h5><strong>Posibles respuestas a las preguntas que formulo anteriormente</strong> </h5>
        {{ lectura.lecturaproposito }}
    </pre>
    <pre>
<h4><strong>Resumir: </strong></h4>
    <h5><strong>Breve resumen de cada capitulo o parte de acuerdo con los subtítulos y secciones, a su vez una lista de las palabras clave que se descubre en cada una</strong></h5>
        {{ lectura.resumenseccion }}
    </pre>
    <pre>
<h4><strong>Aplicar y transferir:</strong> </h4>
    <h5><strong>Recomendación sobre la posible utilidad de esta lectura para el trabajo de investigación</strong> </h5>
        {{ lectura.recomendaciones }}
    </pre>
{% endfor  %}
</pre>
<br>
<br>
</div>

{% endblock %}  