{% extends "::usuario.html.twig" %}

{% block title %}Grupo Simon: Desarrollar Producción Intelectual{% endblock %}

{% block titulo %}  
<h1>Mi Producción</h1>
{% endblock %}
{% block submenuizquierdo %}  

{% endblock %}

{% block contenido %}
<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">  
        <h3>Produccíon en desarrollo</h3>
        <div id="produccion">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>

                        <th>
                            Tema
                        </th>
                        <th>
                            Autor(es)
                        </th>
                        <th>
                            Director(es)
                        </th>
                        <th>
                            Coodirector(es)
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
            {%for informacion in temaUsuario %}
                    <tr>

                        <td>
                    {{ informacion.tema.titulo }}
                        </td>
                        <td>
                   {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '1' })) }}
                        </td>
                        <td>
                    {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '3' })) }}
                        </td>
                        <td>                         
                     {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '2' })) }}
                        </td>
                        <td>
                       {%if informacion.tema.estado %}
                            En desarrollo
                         {% else %}
                            Terminado
                      {% endif %}
                        </td>
                        <td>

                            <a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_vista',{'id':informacion.tema.idtema}) }}">
                                <span class="glyphicon glyphicon-eye-open"></span> Abrir
                            </a>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>

        </div>
        <select class="center-block" id="listaTamano" name="listaTamano">  
            <option value="{{limitepd}}">{{limitepd}}</option>
            <option value="0">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="100000">Todos</option>                        
        </select>

    </div>
    <div class="col-xs-6 col-md-4">
         {%for informacion in temaUsuario %}
        {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Vercronogramas', { 'id': informacion.tema.idtema })) }}
        {% endfor %}
    </div>
</div>

<h3>Producción</h3>
<div id="produccionUsuario">
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>

                <th>
                    Título
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Fecha
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for informacion in produccionIntelectual %}
            <tr>

                <td>
                    <p>
                {{ informacion.titulo }}. <strong>Tema: </strong> {{ informacion.tema.titulo }}
                        <strong>Autor(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '1' })) }}
                        <strong>Director(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '3' })) }}
                        <strong> Codirector(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': informacion.tema.idtema , 'funcion': '2' })) }}            </td>
                </p>
                <td>
                 {{ informacion.tipoproduccion.nombre }}
                </td>
                <td>
                {{ informacion.fecharegistro | date('m-y')}}
                </td>
                <td>
                    <a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_catalogobibliografico_vista',{'id': informacion.idproduccionintelectual})}}">
                        <span class="glyphicon glyphicon-eye-open"></span> Abrir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<select class="center-block" id="listaTamanoPt" name="listaTamanoPt">  
    <option value="{{limitept}}">{{limitept}}</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="90">90</option>
    <option value="120">120</option>
    <option value="100000">Todos</option>                        
</select>


{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    function inicializarEventos() {

        var sltTamanoPt;
        sltTamanoPt = $('#listaTamanoPt');
        sltTamanoPt.change(buscarFiltroTamanoPt);

        var sltTamano;
        sltTamano = $('#listaTamano');
        sltTamano.change(buscarFiltroTamano);
    }
    function buscarFiltroTamano() {
        var tamano;
        tamano = $('#listaTamano').val();
        var url;
        url = "{{ path('gs_proyectos_desarrollarproduccionintelectual_buscar', {'limitepd': 'text'}) }}";
        url = url.replace("text", tamano);
        window.open(url, '_self');
    }

    function buscarFiltroTamanoPt() {
        var tamano;
        tamano = $('#listaTamanoPt').val();
        var url;
        url = "{{ path('gs_proyectos_desarrollarproduccionintelectual_buscar', {'limitept': 'text'}) }}";
        url = url.replace("text", tamano);
        window.open(url, '_self');
    }



</script>
{% endblock %}