{% extends "::usuario.html.twig" %}
{% block title %}Grupo Simon: Usuario{% endblock %}

{% block titulo %}  
<h1>Perfíl</h1>
{% endblock %}
{% block submenuderecho %}    

  
{% endblock %}


{% block contenido %}
<form class="form-horizontal" role="form"  action="{{ path('gs_proyectos_desarrollarproduccionintelectual_perfil') }}" method="post" {{ form_enctype(formUsuario) }}>
       {{ form_errors(formUsuario) }}
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <table>
                <tbody>
                    <tr>
                        <td >
                            <img width="150" src="{{ asset(usuario.foto) }}" class="center-block img-thumbnail">
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <br>
                            {{ form_errors(formUsuario.archivo) }}                       
                            {{ form_widget(formUsuario.archivo) }}
                             <p class="help-block">Formato de la imagen: jpg o jpeg</p>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4><b>Documento:</b >{{ usuario.numerodocumentoidentidad }}</h4>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h4><b>Función:</b>{{ usuario.tipousuario.nombre }}</h4>
                        </td>

                    </tr>
                    </tr>
                    <tr>
                        <td>
                            <h4><b>Correo electrónico:</b>   {{ usuario.user.email }}  </h4>
                        </td>

                    </tr>
                </tbody>

            </table>


        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">  
            <div class="center-block" style="max-width: 400px;">
                <div class="form-group">
             {{ form_label(formUsuario.primernombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.primernombre) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.primernombre) }}
                    </div>
                </div> 
                <div class="form-group">
             {{ form_label(formUsuario.segundonombre, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.segundonombre) }}

                    <div class="col-sm-10">
             {{ form_widget(formUsuario.segundonombre) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.primerapellido, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.primerapellido) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.primerapellido) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.segundoapellido, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.segundoapellido) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.segundoapellido) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.telefonofijo, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.telefonofijo) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.telefonofijo) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.telefonocelular, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.telefonocelular) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.telefonocelular) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.password.first, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.password.first) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.password.first) }}
                    </div>
                </div>
                <div class="form-group">
             {{ form_label(formUsuario.password.second, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
             {{ form_errors(formUsuario.password.second) }}
                    <div class="col-sm-10">
             {{ form_widget(formUsuario.password.second) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
     <button type="submit"  class="btn btn-success btn-xs" id="botonGuardar">
        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
    </button>
    <a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_proyectos_desarrollarproduccionintelectual_buscar') }}">
        <span class="glyphicon glyphicon-log-out"></span> Salir
    </a>
    {{ form_rest(formUsuario) }}
</form>


{% endblock %}
