{% extends "::usuario.html.twig" %}
{% block title %}Grupo Simon: Usuario{% endblock %}

{% block titulo %}  
<h1>Desarrollo Producción Intelectual</h1>
{% endblock %}
{% block submenuderecho %}    
<a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_proyectos_desarrollarproduccionintelectual_buscar') }}">
    <span class="glyphicon glyphicon-log-out"></span> Salir
</a>
{% endblock %}


{% block contenido %}
<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">  


    </div>
    <div class="col-xs-6 col-md-4">


    </div>
</div>
<h2>Tema: <small>{{tema.titulo}}</small></h2>
<div class="row">
    <div class="col-md-4">
        <blockquote>
            <p>Autor(es)</p>
    {%for usuario in temaUsuario%}
  {%if usuario.funcionusuario.nombre == "Autor"   %}
            <footer>{{ usuario.usuario.primernombre }} {{ usuario.usuario.segundonombre }} {{ usuario.usuario.primerapellido }} {{ usuario.usuario.segundoapellido }}</footer>
  {% endif %}
    {% endfor %}
        </blockquote></div>
    <div class="col-md-4">
        <blockquote>
            <p>Director(es)</p>
    {%for usuario in temaUsuario%}
  {%if usuario.funcionusuario.nombre == "Director"   %}
            <footer>{{ usuario.usuario.primernombre }} {{ usuario.usuario.segundonombre }} {{ usuario.usuario.primerapellido }} {{ usuario.usuario.segundoapellido }}</footer>
  {% endif %}
     {% endfor %}
        </blockquote>
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>Codirector(es)</p>
      {%for usuario in temaUsuario%}
  {%if usuario.funcionusuario.nombre == "Codirector"   %}
            <footer>{{ usuario.usuario.primernombre }} {{ usuario.usuario.segundonombre }} {{ usuario.usuario.primerapellido }} {{ usuario.usuario.segundoapellido }}</footer>
  {% endif %}
        {% endfor %}
        </blockquote>
    </div>
</div>

<h4>Producción:</h4>
<table class="table table-hover table-condensed table-striped " align="center" style="width: 700px;" id="tablaProduccion">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        {%for espacio in espacioTrabajo%}
        <tr>
            <td>
                <a href="{{ espacio.url }}"> {{ espacio.nombre }}</a>
            </td>
            <td>
                <a  rel="enlaceSolicitud" id="enlaceSolicitud" href="{{ path('gs_proyectos_desarrollarproduccionintelectual_solicitarrevision',{'id': espacio.tema.idtema, 'espacio': espacio.idespaciotrabajo}) }}">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Solicitar Revisón
                </a>
            </td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share"></span> Compartir con miembros del grupo
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

<h4>Descripción:</h4>
{{ descripcionTema|raw }}{# Decodificar html de la descripcion del tema #}
<h4>Cronograma:</h4>
  {%for usuario in temaUsuario%}
  {%if usuario.funcionusuario.nombre == "Autor" and usuario.usuario.numerodocumentoidentidad == user   %}
<div class="row">
    <div class="col-xs-6 col-md-4" style="border-color: #000;">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-8" style="text-align: right;">

        <button type="button" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Nuevo
        </button>
        <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-refresh"></span> Modificar
        </button>
        <button type="button" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
        </button>

    </div>
</div>
{% endif %}
{% endfor %}
<table class="table table-hover table-condensed table-striped " align="center">
    <thead>
        <tr>
            <th></th>
            <th>Hito</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Descripcion</th>
        </tr>

    </thead>
    <tbody>
        {%for actividad in cronograma%}
        <tr>
            <td><input type="radio" id="radioCronograma" name="radioCronograma" value="{{actividad.idcronograma}}"></td>
            <td>{{actividad.hito}}</td>
            <td>{{actividad.fecharegistro | date ('d/m/Y')}}</td>
            <td>{{actividad.fecha| date ('d/m/Y')}}</td>
            <td>{{actividad.descripcion}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<h4>Bibliografia:</h4>
 {%for usuario in temaUsuario%}
  {%if usuario.funcionusuario.nombre == "Autor" and usuario.usuario.numerodocumentoidentidad == user   %}
<div class="row">
    <div class="col-xs-6 col-md-4" style="border-color: #000;">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8" style="text-align: right;">
        <button type="button" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Nuevo
        </button>
        <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-refresh"></span> Modificar
        </button>
        <button type="button" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
        </button>
    </div>
</div>
{% endif %}
{% endfor %}
<table class="table table-hover " align="center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo de elemento bibliográfico</th>
            <th>Lectura con proposito</th>
            <th>Categoría</th>
            <th>Fecha de Registro</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
          {%for bibliografia in temaBibliografia%}
        <tr>
            <td><input type="radio" id="radioBibliografia" value="{{ bibliografia.bibliografia.idbibliografia }}"></td>
            <td>{{ bibliografia.bibliografia.nombre }}</td>
            <td>{{ bibliografia.bibliografia.tipoelementobibliografico.nombre }}</td>
            <td>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Existelecturaconproposito', { 'id': bibliografia.bibliografia.idbibliografia })) }}</td>
            <td>{{ bibliografia.bibliografia.categoria.nombre }}</td>
            <td>{{ bibliografia.bibliografia.fecharegistro | date ('d-m-y') }}</td>
            <td>  <a  href="{{ path('gs_proyectos_desarrollarproduccionintelectual_elementobibliografia_vista',{'id': bibliografia.bibliografia.idbibliografia}) }}" target="_blank" onClick="window.open(this.href, this.target, 'width=702,height=600');
                    return false;">
                    <span class="glyphicon glyphicon-eye-open"></span> Ver
                </a></td>
        </tr>
           {%endfor%}
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
{{ parent()}}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Realmente desea enviar esta solicitud. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary" id="botonEnviar" name="botonEnviar"  href="#">Enviar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    var urlGlobal;
    function inicializarEventos() {
        var btnEnviar;
        btnEnviar = $('#botonEnviar');
        btnEnviar.click(enviar);

        var enlace;
        enlace = $("#tablaProduccion a");
        enlace.click(abrirModal);

    }

    function enviar() {
        window.open(urlGlobal, '_self');
    }    

    function abrirModal() {
        urlGlobal = $(this).attr("href");      
        $('#myModal').modal('show');
        return  false;
        inicializarEventos();
    }



</script>
{% endblock %}