<table class="table table-hover">
    <tbody>
        {%for usuario in usuarios %}
        <tr>
            <td>
                <input type="radio" name="busquedaUsuario" value="{{ usuario.numerodocumentoidentidad }}" required="true">
            </td>
            <td>
                {{ usuario.numerodocumentoidentidad }} 
            </td>
            <td>
                {{ usuario.primernombre }} {{ usuario.segundonombre }}  {{ usuario.primerapellido }} {{ usuario.segundoapellido }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
