{% extends "::contenidos.html.twig" %}

{% block title %}Grupo Simon: Desarrollar Producción Intelectual{% endblock %}

{% block titulo %}  
<h1>Catalogo Bibliográfico</h1>
{% endblock %}

{% block submenuderecho %}    

{% endblock %}

{% block submenuizquierdo %}  
<div class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control" id="campoBuscar" name="campoBuscar">
    </div>
    <div class="form-group">
        <button type="submit" id="botonBuscar" name="botonBuscar" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search"> Buscar</span> 
        </button>

    </div>
    <p class="help-block">Palabras claves que identifiquen la producción.</p>  
</div>
{% endblock %}

{% block contenido %}
<br>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                    Filtros
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

                <form class="form-inline" id="formularioBuscarProduccion" name="formularioBuscarProduccion" rol="form" action="#" enctype="multipart/form-data" method="post">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campoTitulo">Título: </label>
                                <input class="form-control" name="campoTitulo" id="campoTitulo">
                                <p class="help-block">Título de la producción.</p>                        
                            </div>
                        </div>
                    </div>                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="listaTipoProduccion">Tipo de Producción: </label>
                                <select id="listaTipoProduccion" name="listaTipoProduccion" class="form-control">
                                    {%for tipo in tipoProduccion%}
                                    <option value="{{ tipo.idtipoproduccion }}"> {{ tipo.nombre }}</option>
                                    {% endfor %}                        
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campoPrimerNombre">Primer Nombre: </label>
                                <input class="form-control" name="campoPrimerNombre" id="campoPrimerNombre">
                                <p class="help-block">Primer nombre del autor.</p> 

                            </div>
                            <div class="form-group">
                                <label for="campoSegundoNombre"> Primer Apellido: </label>
                                <input class="form-control" name="campoSegundoNombre" id="campoSegundoNombre" >
                                <p class="help-block">Primer apellido del autor.</p> 

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="fechaDesde">Desde: </label>
                                <input type="date" class="form-control" id="fechaDesde" name="fechaDesde">
                                <p class="help-block"> Formato de la fecha: DD/MM/AAAA</p> 
                            </div>
                            <div class="form-group">
                                <label for="fechaHasta">Hasta: </label>
                                <input type="date" class="form-control" id="fechaHasta" name="fechaHasta">
                                <p class="help-block"> Formato de la fecha: DD/MM/AAAA</p> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="checkbox">
                                <label for="destacado">
                                    <input type="checkbox" id="destacado" name="destacado"value="true"> Producción destacada 
                                </label>                    
                            </div>                            
                        </div>
                    </div>
                    <br>
                    <div style="text-align: right">
                        <button type="submit" id="botonBuscarFiltro" name="botonBuscarFiltro" class="btn btn-primary" >
                            <span class="glyphicon glyphicon-search"> Buscar</span> 
                        </button>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>
<br>
<div id="catalogoBibliografico">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titulo</th>   
                <th>Tipo</th>
                <th>Fecha</th>
                <th></th>
            </tr>

        </thead>

        <tbody>
            {%for produccion in produccionIntelectual%}
            <tr>
                <td>
                    {{ produccion.titulo | upper}}. <b>Tema:</b> {{ produccion.tema.titulo }}                 
                    <strong>Autor(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '1' })) }}

                    <strong>Director(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '3' })) }}

                    <strong>Codirector(es):</strong> {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '2' })) }}
                </td>
                <td>
                    {{ produccion.tipoproduccion.nombre }}
                </td>
                <td>
                    {{ produccion.fecharegistro | date('m-Y') }}
                </td>
                <td>
                    <a href="{{ path('gs_contenidos_produccionintelectual_ver',{'id': produccion.idproduccionintelectual})}}">
                        <span class="glyphicon glyphicon-eye-open"></span> Abrir
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr align="center">
                <td colspan="6">

                </td>
            </tr>
        </tfoot>

    </table>
</div>   
<select class="center-block" id="listaTamano" name="listaTamano">
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="90">90</option>
    <option value="120">120</option>
    <option value="100000">Todos</option>                        
</select>
<hr>
<h3>Producción Intelectual más Vista</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Titulo</th>   
            <th>Tipo</th>
            <th>Fecha</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
            {%for produccion in produccionIntelectualMasVista%}
        <tr>
            <td>
                    {{ produccion.titulo | upper}}. <b>Tema:</b> {{ produccion.tema.titulo }}                 
                <strong>Autor(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '1' })) }}

                <strong>Director(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '3' })) }}

                <strong>Codirector(es):</strong> {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '2' })) }}
            </td>
            <td>
                    {{ produccion.tipoproduccion.nombre }}
            </td>
            <td>
                    {{ produccion.fecharegistro | date('m-Y') }}
            </td>
            <td>
                <a href="{{ path('gs_contenidos_produccionintelectual_ver',{'id': produccion.idproduccionintelectual})}}">
                    <span class="glyphicon glyphicon-eye-open"></span> Abrir
                </a>
            </td>

        </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr align="center">
            <td colspan="6">

            </td>
        </tr>
    </tfoot>

</table>
<hr>
<h3>Producción Intelectual Destacada</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Titulo</th>   
            <th>Tipo</th>
            <th>Fecha</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
            {%for produccion in produccionIntelectualDestacada%}
        <tr>
            <td>
                    {{ produccion.titulo | upper}}. <b>Tema:</b> {{ produccion.tema.titulo }}                 
                <strong>Autor(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '1' })) }}

                <strong>Director(es):</strong>{{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '3' })) }}

                <strong>Codirector(es):</strong> {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '2' })) }}
            </td>
            <td>
                    {{ produccion.tipoproduccion.nombre }}
            </td>
            <td>
                    {{ produccion.fecharegistro | date('m-Y') }}
            </td>
            <td>
                <a href="{{ path('gs_contenidos_produccionintelectual_ver',{'id': produccion.idproduccionintelectual})}}">
                    <span class="glyphicon glyphicon-eye-open"></span> Abrir
                </a>
            </td>

        </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr align="center">
            <td colspan="6">

            </td>
        </tr>
    </tfoot>

</table>

<hr>


{% endblock %}

{% block javascripts %}
{{ parent()}}
<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    function inicializarEventos() {
        var btn;
        btn = $('#botonBuscar');
        btn.click(buscar);

        var btnFiltro;
        btnFiltro = $('#botonBuscarFiltro');
        btnFiltro.click(buscarFiltro);

        var sltTamano;
        sltTamano = $('#listaTamano');
        sltTamano.change(buscarFiltroTamano);
    }
    function buscar() {
        var parametro;
        parametro = $('#campoBuscar').val();
        if (parametro == "" || parametro == null) {
            var url;
            url = "{{ path('gs_contenidos_produccionintelectual_buscar') }}";
            window.open(url, '_self');
        } else {
            var url;
            url = "{{ path('gs_contenidos_produccionintelectual_buscar', {'tamano': 100, 'parametro': 'text'}) }}";
            url = url.replace("text", parametro);
            window.open(url, '_self');
        }
    }
    function buscarFiltro() {
        /*
         var primerNombre;
         var segundoNombre;
         var titulo;
         var tipoProduccion;
         var tamano;
             
         primerNombre = $('#campoPrimerNombre').val();
         segundoNombre = $('#campoSegundoNombre').val();
         titulo = $('#campoTitulo').val();
         tipoProduccion = $('#listaTipoProduccion').val();
         tamano = $('#listaTamano').val()
         if (primerNombre == "" || primerNombre == null) {
         primerNombre = "XXX";
         }
         if (segundoNombre == "" || segundoNombre == null) {
         segundoNombre = "XXX";
         }
         if (titulo == "" || titulo == null) {
         titulo = "XXX";
         }
             
         var url;
         url = "";
         url = url.replace("text", titulo);
         url = url.replace("text1", tipoProduccion);
         url = url.replace("text2", primerNombre);
         url = url.replace("text3", segundoNombre);
         url = url.replace("text4", tamano);
         $('#catalogoBibliografico').load(url);
         var tamano;
         tamano = $('#listaTamano').val();
             
         */

        var formulario;
        formulario = $('#formularioBuscarProduccion');
        var url;
        url = "{{ path('gs_consultas_produccionintelectual_busquedaavanzadacomunidad')}}";

        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/x-www-form-urlencoded",
            data: formulario.serialize(),
            beforeSend: inicioEnvio,
            success: function(data)
            {
                $('#catalogoBibliografico').html(data);
            },
            timeout: 4000,
            error: problemas
        });
        return false;
    }
    function inicioEnvio()
    {
        var x = $("#catalogoBibliografico");
        x.html('Cargando ...');
    }
    function problemas()
    {
        $("#catalogoBibliografico").text('Problemas en el servidor. Intentelo de nuevo.');
    }
    function buscarFiltroTamano() {

        var primerNombre;
        var segundoNombre;
        var titulo;
        var tipoProduccion;
        var tamano;

        primerNombre = $('#campoPrimerNombre').val();
        segundoNombre = $('#campoSegundoNombre').val();
        titulo = $('#campoTitulo').val();
        tipoProduccion = $('#listaTipoProduccion').val();
        tamano = $('#listaTamano').val()
        if (primerNombre == "" || primerNombre == null) {
            primerNombre = "XXX";
        }
        if (segundoNombre == "" || segundoNombre == null) {
            segundoNombre = "XXX";
        }
        if (titulo == "" || titulo == null) {
            titulo = "XXX";
        }

        var url;
        url = "{{ path('gs_consultas_produccionintelectual_busquedaavanzadacomunidad', {'titulo': 'text', 'tipoproduccion': 'text1', 'numeroresultados': 'text4', 'primernombre': 'text2', 'primerapellido': 'text3'}) }}";
        url = url.replace("text", titulo);
        url = url.replace("text1", tipoProduccion);
        url = url.replace("text2", primerNombre);
        url = url.replace("text3", segundoNombre);
        url = url.replace("text4", tamano);
        $('#catalogoBibliografico').load(url);
        inicializarEventos();
    }

</script>
{% endblock %}