{% extends "::base.html.twig" %}
{% block body %}  
<table class="table table-hover">
    <thead>
        <tr>
            <th>Seleccionar</th>
            <th>Titulo del tema</th>
            <th>Estado</th>
            <th>Id</th>    
        </tr>
    </thead>
    <tbody>
        {%for tema in temas %}
        <tr>
            <td>
                <input type="radio" name="busquedaTema" value="{{ tema.idtema }}" required="true">
            </td>
            <td>
                {{ tema.titulo }} 
            </td>
            <td>
                {{ tema.estado }} 
            </td>
            <td>
                {{ tema.idtema }} 
            </td>
            <td>
                {% spaceless %}
                <a href="{{
                   path(
                      'gs_consultas_tema_vermas',
                     { 'titulo': tema.titulo,
                       'estado': tema.estado,
                       }
                   )
                  }}">
                   Ver mas
                </a>
                {% endspaceless %}
            </td>
        </tr>   
        {% endfor %}
    </tbody>
</table>
{% endblock%} 