{% extends "::administrar.html.twig" %}

{% block title %}Grupo Simon: Administrar Producción Intelectual{% endblock %}

{% block titulo %}  
<h1>Administrar Producción Intelectual</h1>
{% endblock %}

{% block submenuderecho %}    
<a type="submit" class="btn btn-success btn-xs" id="botonNuevoProduccionIntelectual" href="{{ path('gs_proyectos_produccionintelectual_crear') }}">
    <span class="glyphicon glyphicon-plus"></span> Nuevo
</a>

<button type="submit" class="btn btn-default btn-xs" id="botonModificarProduccionIntelectual" href="#">
    <span class="glyphicon glyphicon-refresh"></span> Modificar
</button>
<a type="submit" class="btn btn-danger btn-xs" id="botonEliminarProduccionIntelectual" href="#">
    <span class="glyphicon glyphicon-trash"></span> Eliminar
</a>
<a type="submit" class="btn btn-default btn-xs" id="botonSalir" href="{{ path('gs_proyectos_vistaherramientas') }}">
    <span class="glyphicon glyphicon-log-out"></span> Salir
</a>



{% endblock %}

{% block submenuizquierdo %}  
<div class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search"> Buscar</span> 
        </button>
    </div>
</div>
{% endblock %}

{% block contenido %}
<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">  


    </div>
    <div class="col-xs-6 col-md-4">


    </div>
</div>
<div id="produccion">
    <table class="table table-hover">
        <thead>
            <tr align="center">
                <th>

                </th>
                <th> 
                    Titulo
                </th>
                <th>
                    Tema
                </th>
                <th>
                    Autor(es)
                </th>
                <th>
                    Codirector(es)
                </th>
                <th>
                    Director(es)
                </th>
                <th>
                    Tipo de Producción
                </th>
                <th>
                    Estado Tema
                </th>
                <td>
                    Descargar
                </td>
            </tr>

        </thead>
        <tbody>
    {%for produccion in produccionIntelectual%}
            <tr>
                <td>
                    <input type="radio" id="radioProduccionIntelectual" name="radioProduccionIntelectual" value="{{ produccion.idproduccionintelectual }}">
                </td>
                <td>
                {{ produccion.titulo  }}
                </td>
                <td>
                {{ produccion.tema.titulo  }}
                </td>
                <td>
                {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '1' })) }}
                </td>
                <td>
               {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '2' })) }}
                </td>
                <td>
                 {{ render(controller('GSProyectosBundle:Desarrollarproduccionintelectual:Buscarmiembro', { 'tema': produccion.tema.idtema , 'funcion': '3' })) }}
                </td>
                <td>
                {{ produccion.tipoproduccion.nombre }}
                </td>
                <td >
                 {%if produccion.tema.estado%}
                    <a type="submit"  href="{{path('gs_proyectos_produccionintelectual_habilitartema',{'id': produccion.idproduccionintelectual}) }}">
                        <span class="glyphicon glyphicon-ok-circle" ></span></a>
                {%else%}
                    <a type="submit"  href="{{path('gs_proyectos_produccionintelectual_habilitartema',{'id': produccion.idproduccionintelectual}) }}">
                        <span class="glyphicon glyphicon-remove-circle"></span></a>
                {%endif%}

                </td>
                <td>
                    <a href="{{ asset(produccion.archivo~produccion.nombre~'.zip')}}">Ver</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<select class="center-block" id="listaTamano" name="listaTamano">  
    <option>Seleccionar</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="60">60</option>
    <option value="90">90</option>
    <option value="120">120</option>
    <option value="100000">Todos</option>                        
</select>

{% endblock %}





{% block javascripts %}
<!-- Modal Eliminar Recurso -->
<div class="modal fade" id="modalEliminarProduccionIntelectual" tabindex="-1" role="dialog" aria-labelledby="modalEliminarProduccionIntelectualRecursoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Realmente desea ejecutar esta acción.  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-danger" id="botonModalEliminarProduccionIntelectual"  href="#">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="radioVacio" tabindex="-1" role="dialog" aria-labelledby="radioVacioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                Usted no ha seleccionado ningun elemento. Intentelo de nuevo. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    function inicializarEventos() {
        /*
         * *********************************
         * Modificar Producción Intelectual*
         * *********************************
         */
        var btnModificarProduccionIntlectual;
        btnModificarProduccionIntlectual = $('#botonModificarProduccionIntelectual');
        btnModificarProduccionIntlectual.click(modificarProduccionIntlectual);
        /*
         var btnModalModificarTema;
         btnModalModificarTema = $('#botonModalModificarTema');
         btnModalModificarTema.click(modalModificarTema);
         
         /*
         * *****************
         * Eliminar Produccion Intelectual*
         * *****************
         */

        var btnEliminarProduccionIntelectual;
        btnEliminarProduccionIntelectual = $('#botonEliminarProduccionIntelectual');
        btnEliminarProduccionIntelectual.click(eliminarProduccionIntelectual);

        var btnModalEliminarProduccionIntelectual;
        btnModalEliminarProduccionIntelectual = $('#botonModalEliminarProduccionIntelectual');
        btnModalEliminarProduccionIntelectual.click(modalEliminarProduccionIntelectual);

    }

    function  modalEliminarProduccionIntelectual() {

        var rtProduccionIntelectual;
        rtProduccionIntelectual = $('#radioProduccionIntelectual:checked').val();
        var url;
        url = "{{ path('gs_proyectos_produccionintelectual_eliminar', {'id': 'text'}) }}";
        url = url.replace("text", rtProduccionIntelectual);
        window.open(url, '_self');

    }

    function eliminarProduccionIntelectual() {
        var rtProduccionIntelectual;
        rtProduccionIntelectual = $('#radioProduccionIntelectual:checked').val();

        if (rtProduccionIntelectual == "" || rtProduccionIntelectual == null) {
            $('#radioVacio').modal('show');
        } else {
            $('#modalEliminarProduccionIntelectual').modal('show');
        }
    }


    function modificarProduccionIntlectual() {
        var rtProduccionIntelectual;
        rtProduccionIntelectual = $('#radioProduccionIntelectual:checked').val();

        if (rtProduccionIntelectual == "" || rtProduccionIntelectual == null) {
            $('#radioVacio').modal('show');
        } else {
            var url;
            url = "{{ path('gs_proyectos_produccionintelectual_modificar', {'id': 'text'}) }}";
            url = url.replace("text", rtProduccionIntelectual);
            window.open(url, '_self');
        }
    }



</script>
{% endblock %}